

.fltrow{ /* filter grid row appearance */
	height:20px;
	background-color:#B8C7B9;
}
.btnflt{ /* button appearance */
	font-size:11px;
	margin:0 2px 0 2px; padding:0 1px 0 1px;
	text-decoration:none; color: #fff;
	background-color:#666;
}
.flt{ /* filter (input) appearance */
	background-color:#FFC; border: 1px solid #676767; 
	margin:0; width:100%;
	border-radius: 3px;
	-moz-border-radius: .5em; text-align:center;
}
.flt_s{ /* small filter (input) appearance */
	background-color:#f4f4f4; border:1px inset #ccc; 
	margin:0; width:80%;
}
.inf{ /* div containing left, middle and right divs */
	clear:both; width:auto; height:20px; 
	background:#f4f4f4; font-size:11px; 
	margin:0; padding:1px 3px 1px 3px; 
	border:1px solid #ccc;
}
.ldiv{ /* left div */
	float:left; width:30%; position:inherit; 
}
.mdiv{ /* middle div */
	float:left; width:30%; position:inherit; text-align:center; 
}
.rdiv{ /* right div */
	float:right; width:30%; position:inherit; text-align:right; 
}
.loader{ /* loader appearance */
	position:absolute; padding: 15px 0 15px 0;
	margin-top:7%; width:200px; left:40%; 
	z-index:1000; font-size:14px; font-weight:bold;
	border:1px solid #666; background:#f4f4f4; 
	text-align:center; vertical-align:middle;
}
div.mdiv select{ height:20px; }/*paging drop-down list*/
div.inf a{ color:#CC0000; }/*link appearence in .inf div*/
div.inf a:hover{ text-decoration:none; }/*link appearence in .inf div*/
.tot{ font-weight:bold; }/*rows counter*/
.even{ background-color:#fff; }/*row bg alternating color*/
.odd{ background-color:#f4f4f4; }/*row bg alternating color*/

