.dhtmlwindow{
    position: absolute;
    border:1px solid #0080b4;
    visibility: hidden;
    background: #0080b4;
}

.drag-handle{ /*CSS for Drag Handle*/
    padding: 0px;
    text-indent: 3px;
    font: bold 14px Arial;
    background-color: #0080b4;
    color: white;
    cursor: move;
    overflow: hidden;
    padding: 5px;
    width: auto;
    /*height:25px;*/
    filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    /*border-radius: 4px;*/
    /*-moz-border-radius: .8em;*/
    /*border-top-right-radius:.4em;
      border-top-left-radius:.4em;*/
      text-align:left;
      text-transform:capitalize;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
    position: absolute;
    right: 6px;
    top: 2px;
    cursor: hand;
    cursor: pointer;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
/*background-color: white;*/
color: black;
height: 150px;
padding: 2px;
overflow: auto;
/*border-radius: 4px;
-moz-border-radius: .8em;*/
 background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);

}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 0px solid gray;
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}


/*.drag-handle{ !*Overwrite default drag handle bar background color with below*!
background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
}*/

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
/*background-color:#336600;*/
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=40);
background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
opacity: .4;
}