@font-face {
	font-family: "Open Sans";
	src: url('Open_Sans/OpenSans-Regular.ttf') format('truetype') ;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url('Open_Sans/OpenSans-Bold.ttf') format('truetype') ;
	font-weight: bold;
	font-style: normal;
}
* {
	font-family: "Open Sans", sans-serif;
	font-size:12px;
	font-weight: normal;
}
 
body
{
	font-family:"Arial Narrow"; 
	font-size:13px; 

}

.login_body
{
	background: #fbfbfb;

-moz-background-size: cover;

-webkit-background-size: cover;

-o-background-size: cover;

background-size: cover;
}
#top_menu {
	height:30px;
	width:1000px;
	margin:auto;
}

  
.top_container {
	width:100%; 
	position:relative;
	background-color:#FFFFFF;
}

.header_logo {
	position:absolute; 
	width:320px; 
	height:80px; 
	left: 10px; 
	top: 0px; 
	 
}

.header_banner {
	position:absolute;
	height:40px; 
	left: 220px; 
	top: 0px;
}

.header_logout {
	position:absolute; 
	width:200px; 
	height:40px; 
	right: 0px; top: 0px; 
	 
}

.header_history {
	position:absolute; 
	width:200px; 
	height:40px; 
	right: 0px;
	top: 40px;
	 
}
.top_module_container {
	width:100%; 
	position:relative; 
	background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	height:36px;
	border-color:#999999;
	border-style: solid solid solid solid;
}

#body_bottom {
	width:100%; 
	padding-top:5px; 
	float:left;
	border-width:3px;
	border-color:#E6E6E6;
	border-style:  none solid solid solid;
}

.menu_container {	
	height:auto;
	padding-top:5px; 
	float:left;
	border-width:3px;
	border-color:#999999;
	border-style:  solid solid none solid;
	
}
.menu_conts
{
	background-color:#EBF5ED;
}
.main_body_cont {	
	height:595px;
	padding-top:5px; 
	float:left;
	border-width:3px;
	border-color:#999999;
	border-style:  solid solid none solid;
}

 
hr
{
	color:#F3C;
}
.form_header {
	background-color:#CCCCCC;
	background:#CCCCCC;
	height:100%;
	width:100%;
}
.formbuttonplasminus {
	cursor:pointer;
	border:1px solid #0080b4;
	background: #0080b4;
	color:#fff;
	font-size: 13px;
	font-weight:bold;
	padding: 5px;
	border-radius: 2px;
}

.formbutton {
	cursor:pointer;
	background: #00aeef;
	color:#fff;
	font-size: 13px;
	padding: 5px;
	border-radius: 2px;
}

.formbutton:hover, .formbutton:focus {
	background:#0080b4;
}


.formbutton_disabled {
	cursor:pointer;
	background: #dcdcdc;
	border:1px solid #dcdcdc;
	color:#999999;
	font-size: 13px;
	padding: 5px;
	border-radius: 2px;
}

.formbutton_disabled:hover, .formbutton_disabled:focus {
	cursor:pointer;
	border:1px solid #dcdcdc;
	background: #e7e7e7;
	color: #848484;
}


.text_boxes {
	border: 1px solid #e7e7e7;
	font-size: 13px;
	height: auto !important;
	line-height: 16px;
	padding: 5px;
	text-align:left;
}
 
.text_boxes:hover, .text_boxes:focus, .text_boxes:active {
	border: 1px solid #e7e7e7;
}

.text_area {
	/*border-radius: 3px;*/
	border-radius: .4em;
	height: 30px;
	font-size: 13px;
	font-family: inherit;
	border: 1px solid #e7e7e7;
	line-height: 16px;
	padding: 0 5px;
	margin: 0;
	text-align:left;
	resize: none;
}

.text_area:hover, .text_area:focus, .text_area:active {
	border: 1px solid #e7e7e7;
	resize: none;

}
.text_boxes_numeric
{
	border: 1px solid #e7e7e7;
	font-size: 13px;
	height: auto !important;
	line-height: 16px;
	padding: 5px;
	text-align:left;
}

.text_boxes_numeric:hover, .text_boxes_numeric:focus, .text_boxes_numeric:active {
	border: 1px solid #e7e7e7;
}

.combo_boxes {
	/*border-radius: 3px;*/
	/*border-radius: .5em;
	height: 20px;
	font-size: 13px;
	border: 1px solid #676767;
	line-height: 16px;
	padding:2px 3px 2px 5px;
	margin: 0 0 0 2px;
	text-align:left;*/

	border: 1px solid #E7E7E7;

}

.combo_boxes:hover, .combo_boxes:focus, .combo_boxes:active {
	background: #fff;
	border: 1px solid #e7e7e7;
}

.datepicker {
	font-size: 11px;
	line-height: 16px;
	padding: 5px;
	text-align:left;
	border: 1px solid #e7e7e7;
}

.datepicker:hover, .datepicker:focus, .datepicker:active {

	border: 1px solid #e7e7e7;
}

fieldset {
	/*border-left:1px solid #8DAFDA;
	border-right:1px solid #8DAFDA;
	border-bottom:3px solid #99B9E2;
	border-top:1px solid #8DAFDA;
	border-radius: .5em;
	padding:2px;
	margin:0;
	background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #E7E7E7;
	margin-bottom: 30px;
}
.messagebox
{
	visibility:hidden;
	border-left:1px solid #8DAFDA;
	border-right:1px solid #8DAFDA;
	border-bottom:3px solid #99B9E2;
	border-top:1px solid #8DAFDA;
	border-radius: .7em;
 
	margin:0;
	background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
}
.messagebox_error
{
	border-left:1px solid #8DAFDA;
	border-right:1px solid #8DAFDA;
	border-bottom:3px solid #99B9E2;
	border-top:1px solid #8DAFDA;
	border-radius: .7em;
	margin:0;
	background-image: -moz-linear-gradient(bottom, rgb(254,151,174) 0%, rgb(255,255,255) 10%, rgb(254,151,174) 96%);
}
.messagebox_ok
{
	border-left:1px solid #8DAFDA;
	border-right:1px solid #8DAFDA;
	border-bottom:3px solid #99B9E2;
	border-top:1px solid #8DAFDA;
	border-radius: .7em;
	margin:0;
	background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
}
legend {
	/*margin-left:0px;
	padding-left:0px;
	padding-right:0px;
	font-weight:bold;
	color:#00aeef;
	height:18px;
	border: 1px solid gray;
	border-radius: .7em;
	vertical-align:middle;
	width:100%;
	text-align:left;*/
	margin-left: 0px;
	padding: 5px 25px;
	font-size: 16px;
	font-weight: bold;
	background: #00aeef;
	border: 1px solid #00aeef;
	color: #fff;
	vertical-align: middle;
	width:100% !important;
	text-align: left;
}
h2 { margin-top:0; }

<!--  Modal Popup Window -->

.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #CDDCCD;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background-color:#336600;
width: 10px;
left: 0;
top: 0;
z-index: 5;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=40);
opacity: .4;
}


 
.month_button {
	cursor:hand;
	width:75px;
	background: #0080b4;
	border:1px solid #0080b4;
	color:#fff;
	font-size: 13px;
	padding: 5px;
	border-radius:2px;
}

.month_button:hover, .month_button:focus, .month_button_selected {
	cursor:pointer;
	border:1px solid #e7e7e7;
	background:#fff;
	color:#6D6E71;
	font-size: 13px;
	padding: 5px;
	border-radius:2px;
	width:75px; 
}

/*.month_button_selected {
	cursor:hand;
	width:75px; 
	border:outset 1px #66CC00;
	background:#FEC2C9;
	!* background-image: -moz-linear-gradient(bottom, rgb(120,170,214) 7%, rgb(230,220,255) 10%, rgb(136,170,214) 96%); *!
	color:#FF0000;
	font-size: 13px;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:.7em;
}

.month_button_selected:hover, .month_button_selected:focus {
	width:75px; 
	cursor:pointer;
	border:outset 1px #CC00FF;
	background:#FEC2C9;
	color:#171717;
	font-weight:bold;
	padding: 1px 2px;
	border-radius:7px;
}*/

.bangla{ 		
		height: 18px;
		font-size: 16px;
		line-height: 16px;
		padding: 0 5px;
		text-align:left;
		border: 1px solid #676767;
		border-radius: 3px;
		border-radius: .5em;
		}
 							 
.rpt_table
{
	border: 1px solid #e7e7e7;
}
.rpt_table tbody 
{
 	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 13px;
	vertical-align: middle;
}
.rpt_table tbody tr td
{
	height:25px;
	/*word-break:break-all;*/
}

.rpt_table thead 
{
	height: 30px;
	text-align: center;
	vertical-align:middle;
}

.table_body {
	display: block;
	max-height: 380px;
	overflow-y: scroll;
	overflow-x: scroll;
 }
.sp_tools
{
	margin-top:5px;
	width:90px;
	height:18px;
	float:left;
	text-decoration:none;
	display:block;
	background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	border-radius:8px;
}
.accordion_h
{
	background: #00aeef;
	border: 1px solid #00aeef;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align:left;
	line-height:12px;
	margin-top:4px;
	cursor:pointer;
	padding: 10px;
}
.accordion_h_top
{
	background: #00aeef;
	border: 1px solid #00aeef;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align:left;
	line-height:12px;
	height:20px;
	margin-top:4px;
	padding: 10px;
}
.rpt_table thead th 
{
	background: #00aeef;
	border: 1px solid #0080b4;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align:center;
	line-height:12px;
	height:25px;
}
.rpt_table tfoot th 
{
	background: #0080b4;
	border: 1px solid #00aeef;
	color: #fff;
	font-size: 13px;
	text-align:center;
	font-weight:bold;
}
.form_table_header
{
	background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);
	border: 3px solid #8DAFDA;
	color: #444;
	font-size: 13px;
	font-weight: bold;
	text-align:center;
	line-height:12px;
	height:25px;
}
.form_table_header th
{
	 
	border: 1px solid #8DAFDA;
}
.rpt_table td 
{
	 
	border: 1px solid #0080b4;
	text-align: center;
	
}
 
 
.tbl_bottom td
{
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 13px;
	font-weight: bold;
	text-align:right;
}

.rpt_header thead th 
{
	border: 0px solid #000000;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	text-align:center;
}

.general td
{
	text-align:center;
	background: #f5f5f5;

}
 
.form_caption
 {
	/* font-size:16px;
	 font-weight:bold;
	 color:#0172BE;
	 text-align:center;
	 height:10px;
	 vertical-align:middle;*/
	font-size: 22px;
	font-weight: bold;
	color: #6D6E71;
	text-align: center;
	vertical-align: middle;
 }
  
.button_container
{
	padding-top: 10px;
	border-top: 1px solid #e7e7e7;
}

.image_uploader
{
	background: #0080b4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	cursor:pointer;
	padding: 5px;
	width: auto !important;
}
 .uploaded_img
 {
	 float:left;
	 width:50px;
	 height:22px;
	 margin-left:5px;
	 border-radius: 2px;
 }
 
 
 .check_all_container
 {
	 margin-top:5px;
	 margin-left:5px;
	 
 }
.multiselect_dropdown_table
{
	border:1px;
	border-style:solid;
	border-color:#0080b4;
	cursor:pointer;
	 
}

.multiselect_mouse_over
{
	
	border:1px;
	border-style:solid;
	border-color:#CC0000;
	cursor:pointer;
	border-radius: .7em;
	background-color:#FF6633;
}

.multiselect_mouse_out
{
	border:1px;
	border-style:solid;
	border-color:#CC0000;
	cursor:pointer;
	border-radius: .7em;
	background-color:#33CC66;
}
 
 .multiselect_dropdown_table_top thead th 
{
	 background: #00aeef;
	 color: #fff;
	 font-size: 13px;
	 font-weight: bold;
	 height: auto !important;
	 line-height: 12px;
	 padding-bottom: 7px !important;
	 padding-top: 10px !important;
	 text-align: center;
 }
 
 .multiselect_dropdown_table_bottom 
 {
	 background: #fff;
	border-left:1px solid #8DAFDA;
	border-right:1px solid #8DAFDA;
	border-bottom:3px solid #99B9E2;
	border-top:1px solid #8DAFDA;
	border-radius: 2px;
	padding:10px;
	margin:0;
  
 }
.multiselect_dropdown_table_bottom tr:nth-child(even) {background: rgba(0, 174, 239, .2);}
.multiselect_dropdown_table_bottom tr:nth-child(odd) {background: #fff;}

.multiselect_dropdown_table_bottom tr{
	border: none;
}
	
thead.table_header tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.table_header tr {
	display: block
}

/* make the TH elements pretty 
thead.table_header th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}
*/
/* make the A elements pretty. makes for nice clickable headers                */
thead.table_header a, thead.table_header a:link, thead.table_header a:visited {
	
	display: block;
	
	
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.table_header a:hover {
	
	display: block;
	
	
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto     */                
html>body tbody.table_body {
	display: block;
	max-height: 380px;
	overflow-y: scroll;
	
}


@media print{
	html>body tbody.table_body {
	max-height:none;
	display: block;
	overflow:auto;
}
table {page-break-after:always}
table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

}
 
 
 
TD{ font-size : 9pt }
TH{ font-size : 9pt }

 * { margin:0; padding:0; border:0; outline:0; }
		
		.tips_cls { visibility:hidden; }
		.idTabs { margin:0px; }
		.idTabs ul {
			  padding:5px; float:left; 
		 
		
		}
		.idTabs li { list-style:none; float:left; padding-top:4px; padding-bottom:2px;}
		.idTabs a { display:block; color:#171717; padding:0 13px; font:bold 13px Arial; text-decoration:none; }
		.idTabs li:hover { background:#C2DCFF; color:#FF0066; display:block; border-radius:5px; }
		.idTabs a:hover { background:#C2DCFF; color:#FF0066; border-radius:5px; }
		.idTabs ul, .idTabs a { border-radius:4px; border-radius:4px; }
		.active {  color:#FF0066;  padding-top:2px; padding-bottom:2px; display:block; border-radius:5px; 
		background-image: -moz-linear-gradient(bottom, rgb(255,255,255)  7%, rgb(136,170,214) 10%, rgb(255,255,255) 96%);
		}
		
   
 
 /*
 * jQuery UI CSS Framework 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=verdana&fwDefault=normal&fsDefault=1em&cornerRadius=7px&bgColorHeader=3a8104&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=33&borderColorHeader=3f7506&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=aacc9a&bgTextureContent=23_fine_grain.png&bgImgOpacityContent=10&borderColorContent=72b42d&fcContent=000&iconColorContent=72b42d&bgColorDefault=4ca20b&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=60&borderColorDefault=45930b&fcDefault=ffffff&iconColorDefault=ffffff&bgColorHover=4eb305&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=50&borderColorHover=8bd83b&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=aacc9a&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=30&borderColorActive=72b42d&fcActive=000&iconColorActive=ffffff&bgColorHighlight=fbf5d0&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=f9dd34&fcHighlight=363636&iconColorHighlight=4eb305&bgColorError=ffdc2e&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=95&borderColorError=fad000&fcError=2b2b2b&iconColorError=cd0a0a&bgColorOverlay=444444&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=15&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=07_diagonals_small.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=0px&offsetTopShadow=4px&offsetLeftShadow=4px&cornerRadiusShadow=4px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: verdana; font-size: 1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: verdana; font-size: 1em; }
.ui-widget-content { border: 1px solid #72b42d; background: #B8C7B9  50% 50% repeat; color: #000; }
.ui-widget-content a { color: #000; }
.ui-widget-header { border: 1px solid #3f7506; background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%); color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #fff; background: #00aeef; font-weight: normal; color: #fff;
	text-align: center; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #6666FF;  background-image: -moz-linear-gradient(bottom, rgb(136,170,214) 7%, rgb(194,220,255) 10%, rgb(136,170,214) 96%); font-weight: normal; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #8DAFDA; background-image:-moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%); font-weight: normal; color:#00F; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #000; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #e7e7e7; background: #fff; color: #00aeef;
	font-weight: bold; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #fad000; background: #ffdc2e url(images/ui-bg_diagonals-thick_95_ffdc2e_40x40.png) 50% 50% repeat; color: #2b2b2b; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #2b2b2b; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #2b2b2b; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_72b42d_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_72b42d_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_4eb305_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px; }
.ui-corner-tr { -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; border-top-right-radius: 7px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; }
.ui-corner-br { -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px; }
.ui-corner-top { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px; -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; border-top-right-radius: 7px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px; }
.ui-corner-right {  -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; border-top-right-radius: 7px; -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px; }
.ui-corner-left { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px; -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; }
.ui-corner-all { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }

/* Overlays */
.ui-widget-overlay { background: #444444 url(images/ui-bg_diagonals-thick_15_444444_40x40.png) 50% 50% repeat; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: 4px 0 0 4px; padding: 0px; background: #aaaaaa url(images/ui-bg_diagonals-small_0_aaaaaa_40x40.png) 50% 50% repeat; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }/*
 * jQuery UI Resizable 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*
 * jQuery UI Selectable 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
/*
 * jQuery UI Accordion 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
/*
 * jQuery UI Autocomplete 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.10
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/*
 * jQuery UI Button 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
/*
 * jQuery UI Dialog 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/*
 * jQuery UI Slider 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/*
 * jQuery UI Tabs 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/*
 * jQuery UI Datepicker 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
 #ui-datepicker-div { background:none; background-color:white; border-radius: 0; }
.ui-datepicker { width:175px; padding: .2em .2em 0; display: none; border: 1px solid #00aeef; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
background: #00aeef}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width:22px; height:22px; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:11px; margin:1px 0; color: #0080b4; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 50%;}
.ui-datepicker table {width: 100%; font-size: 11px; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding:0.3em; text-align: center; font-weight: bold; border:0; }
.ui-datepicker td { border: 0; padding: 0; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*
 * jQuery UI Progressbar 1.8.10
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }


.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }




/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:rgba(255,255,255,.85);
  display:none;
}
   
#boxes .window {
  position:fixed;
  width:300px;
  height:100px;
  display:none;
  z-index:9999;
 /* padding:0px;*/
 /*padding-top:3px;*/
 /*border:3px solid #8DAFDA;*/
 /*border-radius:.7em;*/
  
	
}
 
 p
 {
	word-break:break-all;
	word-wrap: break-word;
	width:100%;
 }
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:300px;
  height:100px;
  font-weight:bold;
/* background-image: -moz-linear-gradient(bottom, rgb(194,220,255) 0%, rgb(255,255,255) 10%, rgb(194,220,255) 96%);
  */
  
}
#boxes #dialog .msg_header {
 width:300px;
 height:25px;
 /*background-image: -moz-linear-gradient( rgb(194,220,255) 10%, rgb(136,170,214) 96%);*/
 /*border-top-right-radius:.4em;*/
 /*border-top-left-radius:.4em;*/
 color:#FFF;
 font-size:12px;
 font-weight:bold;
 text-align:left;
}
 
	
.verticalText
{
	position: absolute;
	left: 15px;
	top: 15px;
	width: 150px;
	height: 309px;
	vertical-align: middle;
	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding: 1em 0 1em 0;
	word-wrap:normal;
}
 
#charttooltips 
{
  cursor: pointer;
  display: none;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position:absolute 
}
#lchart_area
{
	background-color:#F5F5F5;
	border:1px dotted #993300;
}







.contextMenuPlugin {
  -webkit-user-select: none;
  display: none;
  font-family: tahoma, arial, sans-serif;
  font-size: 11px;
  position: absolute;
  left: 100px;
  top: 100px;
  min-width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f7f3f7;
  border: 2px solid #f7f7f7;
  outline: 1px solid #949694;
}

.contextMenuPlugin > li {
  margin: 0 0 0 0;
  padding: 1px;
  background-repeat: no-repeat;
}

.contextMenuPlugin > li > a {
  position: relative;
  display: block;
  padding: 3px 3px 3px 28px;
  color: ButtonText;
  text-decoration: none;
  margin: 1px;
}

.contextMenuPlugin > li > a img {
  position: absolute;
  left: 3px;
  margin-top: -2px;
  width: 16px;
  height: 16px;
}
.contextMenuPlugin > li > a:hover {
  border: 1px solid #fffbff;
  outline: 1px solid #b5d3ff;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,255,0.5)), color-stop(100%,rgba(223,223,255,0.5)));
  cursor: default;
}

.contextMenuPlugin > li.divider {
  border-top: 1px solid #e7e3e7;
  border-bottom: 1px solid #ffffff;
  height: 0;
  padding: 0;
  margin: 5px 0 5px 27px;
}

.contextMenuPlugin > .header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,90,90,1)), color-stop(100%,rgba(20,20,20,1)));
  position: relative;
  cursor: default;
  padding: 3px 3px 3px 3px;
  color: #ffffff;
}

.contextMenuPlugin > .gutterLine {
  position: absolute;
  border-left: 1px solid #e7e3e7;
  border-right: 1px solid #ffffff;
  width: 0;
  top: 0;
  bottom: 0;
  left: 26px;
  z-index: 0;
}


/*-----------
---CUSTOM CSS SKYLARK SOFT
------------
*/
/*Login Page*/

.login_page{
	box-sizing: border-box;
	display: table-cell;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	text-align: center;
	vertical-align: middle;
}
.login-box{
	background: #00aeef;
	border-radius: 5px;
	padding: 15px 20px;
	text-align: left;
}

/*Index Page*/
.header-area{
	padding: 25px 10px;
}
.user-name{
	display: table-cell;
	font-size: 1.2em;
	padding: 20px;
	vertical-align: middle;
}

/*Main Nav area*/
.nav-custom{
	display: inline-block;
}
.navbar{
	border: none;
	border-radius: 0;
	padding: 0;
	margin-bottom: 0;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.navbar-default{
	background-color: #00aeef;
}
.nav-custom li a{
	background-color: transparent !important;
	color: #fff !important;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
}
.navbar .active{
	background: #0080b4;
	border-radius: 0;
	font-weight: bold;
}

/*CONTENT AREA*/
.content-area{
	display: flex;
}
iframe body div,
#report_container2 > div,
#report_container2 > table{
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 20px !important;
}
#report_table_footer{
	margin-bottom: 20px;
}
fieldset > div,
fieldset > table{
	margin-bottom: 10px;
	margin-top: 10px;
}
#menu_conts{
	display: none;
	background-color:#0080b4;
	min-height: 100%;
	overflow: auto !important;
	padding: 25px 0px;
	width: 0%;
}
.chart-sub-menu a{
	border: 1px solid #e7e7e7;
	color: #888888;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}
.chart-sub-menu a:hover{
	border: 1px solid #0080b4;
	background: #0080b4;
	color: #ffffff;
}

#main_body{
	overflow: auto;
	padding: 25px 15px;
	text-align: center;
	width: 100%;
}

#main_body > table{
	margin-left: auto;
	margin-right: auto;
}


fieldset table td{
	color: #5f5f5f;
	padding: 10px 5px;
	vertical-align: middle;
}

.fltrow{
	background: #0080b4 !important;
}
.flt{
	background: #e7e7e7 !important;
	border: 1px solid #e7e7e7 !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}

/*Footer area*/
.footer-area{
	background: #02668e;
	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 -1px 5px rgba(0,0,0,.3);
	box-shadow: 0 -1px 5px rgba(0,0,0,.3);
	padding: 10px;
}
/*.footer-area .row{
	display: flex;
	justify-content: center;
}*/
.copyright p{
	margin: 0;
	color: #fff;
	/*border-right: 1px solid #e7e7e7;*/
}
.copyright p span.pwdby{
	font-weight: bold;
}
.copyright{
	/*display: flex;
	justify-content: center;
	align-items: center;*/

}






















