	<div style="width:1330px" align="center">       
    										<!--    Header Company Information         --> 
       <table style="border:1px solid black" cellpadding="0" cellspacing="0" width="100%">
           <tbody><tr>
               <td width="100"> 
               <img src="../../file_upload/company_details_1_17.jpg" height="100%" width="100%">
               </td>
               <td width="1250">                                     
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                            <td style="font-size:20px;" align="center">
                              Peak Apparels Limited                            </td>
                            <td rowspan="3" width="250">
                            
                                <!--<a href="requires/fabric_booking_controller.php?filename=welcome.html&action=download_file" style="text-transform:none">Download</a>-->
                               <span style="font-size:18px"><b> Job No:&nbsp;&nbsp;PAL-15-00460</b></span>
                                
                            
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:14px" align="center">  
                            Vogra, Joydebpur, Gazipur                                <!--Plot No:  
                                Level No:                                 Road No:  
                                Block No:  
                                City No:  
                                Zip Code:  
                                Province No:  
                                Country: --> <br> 
                                Email Address: porna@pkapparels.net 
                                Website No:  www.peakapparels.com   
                               </td> 
                            </tr>
                            <tr>
                            <td style="font-size:20px" align="center">  
                                <strong>Main Fabric Booking &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="color:#F00"> </font></strong>
                             </td> 
                            </tr>
                      </tbody></table>
                </td>       
            </tr>
       </tbody></table>
                       <table style="border:1px solid black" width="100%">                    	
            <tbody><tr>
                <td colspan="6" style="font-size:18px; color:#F00" valign="top"></td>                             
            </tr>                                                
            <tr>
                <td width="100"><span style="font-size:18px"><b>Buyer/Agent Name</b></span></td>
                <td width="110">:&nbsp;<span style="font-size:18px"><b>MGB METRO GROUP BUYING HK LIMITED</b></span></td>
                <td width="100"><span style="font-size:12px"><b>Dept.</b></span></td>
                <td width="110">:&nbsp;Mens</td>	
                <td width="100"><span style="font-size:12px"><b>Order Qnty</b></span></td>
                <td width="110">:&nbsp;
				3440 Pcs                </td>
            </tr>
            <tr>
                
                <td style="font-size:12px" width="100"><b>Garments Item</b></td>
                <td width="110">:&nbsp;
				T-Shirt-Short Sleeve                </td>
                <td style="font-size:12px" width="100"><b>Booking Release Date</b></td>
                <td width="110">:&nbsp;
				23-10-2015                </td>
                <td style="font-size:18px" width="100"><b>Style Ref.</b>   </td>
                <td style="font-size:18px" width="110">:&nbsp;<b>2550-07kw17 </b>   </td>
                
            </tr>
             <tr>
                
                	
                
                <td style="font-size:12px" width="100"><b>Style Des.</b></td>
                <td width="110">:&nbsp;Mens Knitted T-shirt</td>
                <td style="font-size:12px" width="100"><b>Lead Time </b>   </td>
                <td width="110">:&nbsp;132 </td>
                <td style="font-size:12px" width="100"><b>Dealing Merchant</b></td>
                <td width="110">:&nbsp;Md. Alamgir kabir</td>
                
                
                
            </tr>
             
            <tr>
                <td style="font-size:12px" width="100"><b>Supplier Name</b>   </td>
                <td width="110">:&nbsp;    </td>
                <td style="font-size:12px" width="100"><b>Delivery Date</b></td>
               	<td width="110">:&nbsp;</td> 
                <td style="font-size:18px" width="100"><b>Booking No </b>   </td>
                <td style="font-size:18px" width="110">:&nbsp;<b>PAL-Fb-15-00506</b>(Production)</td>
                
                
                
            </tr> 
            <tr>
                <td style="font-size:12px" width="100"><b>Season</b></td>
                <td width="110">:&nbsp;</td>
                <td style="font-size:12px" width="100"><b>Attention</b></td>
                <td width="110">:&nbsp;</td>
                <td style="font-size:12px" width="100"><b>Po Received Date</b></td>
                <td width="110">:&nbsp;22-07-2015</td>
                
                
                
            </tr>  
           <tr>
               <td style="font-size:18px" width="100"><b>Order No</b></td>
                <td style="font-size:18px" colspan="5" width="110">:&nbsp;<b>2550-07kw17</b></td>
                
            </tr> 
            <tr>
               <td style="font-size:12px" width="100"><b>Shipment Date</b></td>
                <td colspan="5" width="110"> :&nbsp;01-12-2015</td>
                
            </tr> 
            
        </tbody></table>  
                       <table width="100%">            
		    <tbody><tr>
            <td width="800">  
                <div id="div_size_color_matrix" style="float:left; max-width:1000;">
            	<fieldset id="div_size_color_matrix" style="max-width:1000;">
 				<legend>Size and Color Breakdown                </legend>
 				<table class="rpt_table" rules="all" align="left" border="1" cellpadding="0" cellspacing="0" width="750">
                    <tbody><tr>
                        <td style="border:1px solid black"><strong>Color/Size</strong></td>
                                            <td style="border:1px solid black" align="center"><strong>L</strong></td>
                                            <td style="border:1px solid black" align="center"><strong>XL</strong></td>
                                            <td style="border:1px solid black" align="center"><strong>XXL</strong></td>
                                            <td style="border:1px solid black" align="center"><strong>XXXL</strong></td>
                    				
                        <td style="border:1px solid black; width:130px" align="center"><strong> Total Order Qty(Pcs)</strong></td>
                        <td style="border:1px solid black; width:80px" align="center"><strong> Excess %</strong></td>
                        <td style="border:1px solid black; width:130px" align="center"><strong> Total Plan Cut Qty(Pcs)</strong></td>
                    </tr>
                                        <tr>
                    <td style="border:1px solid black" colspan="7"><strong>T-Shirt-Short Sleeve</strong></td>
                    
                    </tr>
                                        <tr>
                        <td style="border:1px solid black" align="center">NAVY</td>
                                                    <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                              <td style="border:1px solid black; text-align:right">660</td>
                          
                         <td style="border:1px solid black; text-align:right">5.15 %                         </td>
                        <td style="border:1px solid black; text-align:right">694</td>
                    </tr>
                                        <tr>
                        <td style="border:1px solid black" align="center">RED</td>
                                                    <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                              <td style="border:1px solid black; text-align:right">660</td>
                          
                         <td style="border:1px solid black; text-align:right">5.15 %                         </td>
                        <td style="border:1px solid black; text-align:right">694</td>
                    </tr>
                                        <tr>
                        <td style="border:1px solid black" align="center">DK PETROL</td>
                                                    <td style="border:1px solid black; text-align:right">
							200							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							200							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							200							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							200							</td>
                           
                                              <td style="border:1px solid black; text-align:right">800</td>
                          
                         <td style="border:1px solid black; text-align:right">5.00 %                         </td>
                        <td style="border:1px solid black; text-align:right">840</td>
                    </tr>
                                        <tr>
                        <td style="border:1px solid black" align="center">SEA GROUND</td>
                                                    <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							150							</td>
                           
                                              <td style="border:1px solid black; text-align:right">600</td>
                          
                         <td style="border:1px solid black; text-align:right">5.33 %                         </td>
                        <td style="border:1px solid black; text-align:right">632</td>
                    </tr>
                                        <tr>
                        <td style="border:1px solid black" align="center">BROKEN OLIVE</td>
                                                    <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                                <td style="border:1px solid black; text-align:right">
							180							</td>
                           
                                              <td style="border:1px solid black; text-align:right">720</td>
                          
                         <td style="border:1px solid black; text-align:right">5.00 %                         </td>
                        <td style="border:1px solid black; text-align:right">756</td>
                    </tr>
                                        
                        <tr><td style="border:1px solid black" align="center"><strong>Sub Total</strong></td>
                                                <td style="border:1px solid black;  text-align:right">860</td>
                                                <td style="border:1px solid black;  text-align:right">890</td>
                                                <td style="border:1px solid black;  text-align:right">830</td>
                                                <td style="border:1px solid black;  text-align:right">860</td>
                                                <td style="border:1px solid black;  text-align:right">3,440</td>
                        <td style="border:1px solid black;  text-align:right">5.12 %</td>
                        <td style="border:1px solid black;  text-align:right">3,616</td>
                    </tr>
                                         <tr>
                        <td style="border:1px solid black" colspan="7" align="center"><strong>&nbsp;</strong></td>
                        </tr>
                    <tr>
                    </tr><tr>
                        <td style="border:1px solid black" align="center"><strong>Grand Total</strong></td>
                                                <td style="border:1px solid black;  text-align:right">860</td>
                                                <td style="border:1px solid black;  text-align:right">890</td>
                                                <td style="border:1px solid black;  text-align:right">830</td>
                                                <td style="border:1px solid black;  text-align:right">860</td>
                                                <td style="border:1px solid black;  text-align:right">3,440</td>
                        <td style="border:1px solid black;  text-align:right">5.12 %</td>
                        <td style="border:1px solid black;  text-align:right">3,616</td>
                    </tr>
                </tbody></table>
                </fieldset>
                </div>  
                </td>
                <td align="left" valign="top" width="200">
                <div id="div_size_color_matrix" style="float:left;">
                            	 	<fieldset id="">
 				<legend>RMG Process Loss % </legend>
            	<table class="rpt_table" rules="all" border="1" width="180">
                                </table>   
                </fieldset>
                
                 
                <fieldset id="">
 				<legend>Fabric Process Loss % </legend>
            	<table class="rpt_table" rules="all" border="1" width="180">
                            </table>   
           </fieldset>
           </div>  
                </td>
            <td align="left" valign="top" width="330">
                        <div id="div_size_color_matrix" style="float:left;">
            	<fieldset id="">
 				<legend>Image </legend>
            	<table width="310">
                <tbody><tr>
                                </tr>
           </tbody></table>   
           </fieldset>
           </div>         	
          </td>
        </tr>
       </tbody></table>
              <br> 
     
      <!--  Here will be the main portion  -->
          
         
     <table class="rpt_table" rules="all" border="1" cellpadding="0" cellspacing="0" width="100%">
     <tbody><tr align="center">
     <th colspan="3" align="left">Body Part</th>
        <td colspan="2">Main Fabric Top</td><td colspan="2">Neck Rib</td><td colspan="2">Half Moon</td>        <td rowspan="9" width="50"><p>Total  Finish Fabric (KG)</p></td> 
        <td rowspan="9" width="50"><p>Total Grey Fabric (KG)</p></td>
        <td rowspan="9" width="50"><p>Process Loss % </p></td>
       </tr>
     <tr align="center"><th colspan="3" align="left">Color Type</th>
        <td colspan="2">Solid</td><td colspan="2">Solid</td><td colspan="2">Solid</td>        <!--<td  rowspan="8" width="50"><p>Total  Finish Fabric (KG)</p></td> <td  rowspan="8" width="50"><p>Total Grey Fabric (KG)</p></td>-->
             <!--<td  rowspan="7" width="50"><p>Process Loss % </p></td>-->
       </tr>  
        <tr align="center"><th colspan="3" align="left">Fabric Construction</th>
        <td colspan="2">Single Jersey</td><td colspan="2">1X1 Rib</td><td colspan="2">Single Jersey</td>        	
           
       </tr>       
        <tr align="center"><th colspan="3" align="left">Fabric Composition</th>
        <td colspan="2">Cotton 100%</td><td colspan="2">Cotton 100%</td><td colspan="2">Cotton 100%</td>       
       </tr>
       <tr align="center"><th colspan="3" align="left">GSM</th>
        <td colspan="2" align="center">140</td><td colspan="2" align="center">250</td><td colspan="2" align="center">140</td>       
       </tr>
       <tr align="center"><th colspan="3" align="left">Dia/Width (Inch)</th>
        <td colspan="2" align="center">80,Open Width</td><td colspan="2" align="center">32 ,Tubular</td><td colspan="2" align="center">ANY TUBE,Tubular</td>        
       </tr>
       <tr align="center"><th colspan="3" align="left">Consumption For 1 Dzn</th>
        <td colspan="2" align="center">Fin: 2.38, Grey: 2.70</td><td colspan="2" align="center">Fin: 0.13, Grey: 0.14</td><td colspan="2" align="center">Fin: 0.50, Grey: 0.57</td>        
       </tr>
       <tr>
       <th colspan="9" style="height:30px" align="left">&nbsp;</th>
       </tr>
      
       <tr>
            <!--<th  width="120" align="left">Gmts. Color</th>-->
            <th align="left" width="120">Fabric Color</th>
            <th align="left" width="120">Body Color</th>
            <th align="left" width="120">Lab Dip No</th>
        <th width="50">Finish</th><th width="50">Gray</th><th width="50">Finish</th><th width="50">Gray</th><th width="50">Finish</th><th width="50">Gray</th>       
       </tr>
        
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			NAVY            </td>
            <td>
                        </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			137.64            </td>
            <td align="right" width="50"> 
			156.41            </td>
            			<td align="right" width="50">
			5.78            </td>
            <td align="right" width="50"> 
			6.57            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
                        <td align="right">143.43</td>
            <td align="right">162.98</td>
            
            <td align="right">
            12.00            </td>
            </tr>
          
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			RED            </td>
            <td>
                        </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			137.64            </td>
            <td align="right" width="50"> 
			156.41            </td>
            			<td align="right" width="50">
			5.78            </td>
            <td align="right" width="50"> 
			6.57            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
                        <td align="right">143.43</td>
            <td align="right">162.98</td>
            
            <td align="right">
            12.00            </td>
            </tr>
          
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			DK PETROL            </td>
            <td>
                        </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			166.60            </td>
            <td align="right" width="50"> 
			189.32            </td>
            			<td align="right" width="50">
			7.00            </td>
            <td align="right" width="50"> 
			7.95            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
                        <td align="right">173.60</td>
            <td align="right">197.27</td>
            
            <td align="right">
            12.00            </td>
            </tr>
          
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			BROKEN OLIVE            </td>
            <td>
                        </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			149.94            </td>
            <td align="right" width="50"> 
			170.38            </td>
            			<td align="right" width="50">
			6.30            </td>
            <td align="right" width="50"> 
			7.16            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
                        <td align="right">156.24</td>
            <td align="right">177.54</td>
            
            <td align="right">
            12.00            </td>
            </tr>
          
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			BAMBOO            </td>
            <td>
            DK PETROL,DK PETROL            </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
            			<td align="right" width="50">
			10.50            </td>
            <td align="right" width="50"> 
			11.94            </td>
            			<td align="right" width="50">
			35.21            </td>
            <td align="right" width="50"> 
			40.01            </td>
                        <td align="right">45.71</td>
            <td align="right">51.95</td>
            
            <td align="right">
            12.01            </td>
            </tr>
          
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			SEA GROUND            </td>
            <td>
                        </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			125.35            </td>
            <td align="right" width="50"> 
			142.44            </td>
            			<td align="right" width="50">
			5.27            </td>
            <td align="right" width="50"> 
			5.98            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
                        <td align="right">130.61</td>
            <td align="right">148.42</td>
            
            <td align="right">
            12.00            </td>
            </tr>
          
			<tr>
           <!-- <td  width="120" align="left">
			</td>-->
            <td align="left" width="120">
			S.STONE            </td>
            <td>
            NAVY,RED,BROKEN OLIVE,SEA GROUND,NAVY,RED,BROKEN OLIVE,SEA GROUND            </td>
            <td align="left" width="120">
			&nbsp;            </td>
            			<td align="right" width="50">
			            </td>
            <td align="right" width="50"> 
			            </td>
            			<td align="right" width="50">
			34.70            </td>
            <td align="right" width="50"> 
			39.44            </td>
            			<td align="right" width="50">
			116.36            </td>
            <td align="right" width="50"> 
			132.23            </td>
                        <td align="right">151.06</td>
            <td align="right">171.67</td>
            
            <td align="right">
            12.01            </td>
            </tr>
                 <tr style=" font-weight:bold">
        <!--<td  width="120" align="left">&nbsp;</td>-->
        <th align="left" width="120">&nbsp;</th>
        <td align="left" width="120">&nbsp;</td>
        <td align="left" width="120"><strong>Total</strong></td>
        			<td align="right" width="50">717.17</td><td align="right" width="50"> 814.96</td>
            			<td align="right" width="50">75.33</td><td align="right" width="50"> 85.61</td>
            			<td align="right" width="50">151.57</td><td align="right" width="50"> 172.24</td>
                        <td align="right">944.08</td>
            <td align="right">1,072.81</td>
            <td align="right">
            12.00            </td>
            </tr> 
            <tr style="font-weight:bold">
        <!--<td  width="120" align="left">&nbsp;</td>-->
        <th align="left" width="120">&nbsp;</th>
        <td align="left" width="120">&nbsp;</td>
        <td align="left" width="120"><strong>Consumption For 1 Dzn</strong></td>
        			<td align="right" width="50"></td><td align="right" width="50"> </td>
            			<td align="right" width="50"></td><td align="right" width="50"> </td>
            			<td align="right" width="50"></td><td align="right" width="50"> </td>
                        <td align="right">3.1330</td>
            <td align="right">3.5602</td>
            <td align="right">
            12.00            </td>
            </tr> 
    </tbody></table>
            <br>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr>
                
                </tr>
        </tbody></table>
        <br>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <td valign="top" width="49%">
                    <table class="rpt_table" rules="all" border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr align="center">
                    <td colspan="7"><b>Yarn Required Summary (Pre Cost)</b></td>
                    
                    </tr>
                    <tr align="center">
                    <td>Sl</td>
                    <td>Yarn Description</td>
                    <td>Brand</td>
                    <td>Lot</td>
                                        <td>Rate</td>
                                        <td>Cons for 1 Dzn Gmts</td>
                    <td>Total (KG)</td>
                    </tr>
                                        <tr align="center">
                    <td>1</td>
                    <td>
					36/1 Cotton 100%  Carded                    </td>
                    <td></td>
                    <td></td>
                                         <td>0.0000</td>
                                         <td>2.7045</td>
                   
                    <!--<td></td>-->
                    <td align="right"></td>
                    </tr>
                                        <tr align="center">
                    <td>2</td>
                    <td>
					40/1 Cotton 100%  Carded                    </td>
                    <td></td>
                    <td></td>
                                         <td>0.0000</td>
                                         <td>0.2841</td>
                   
                    <!--<td></td>-->
                    <td align="right"></td>
                    </tr>
                                        <tr align="center">
                    <td>3</td>
                    <td>
					30/1 Cotton 100%  Carded                    </td>
                    <td></td>
                    <td></td>
                                         <td>0.0000</td>
                                         <td>0.5716</td>
                   
                    <!--<td></td>-->
                    <td align="right"></td>
                    </tr>
                                        <tr align="center">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                                        <td></td>
                                        <td></td>
                    <td align="right"></td>
                    </tr>
                    </tbody></table>
                </td>
                <td width="2%">
                </td>
                <td align="center" valign="top" width="49%">
                                </td>
            </tr>
        </tbody></table>
        <br>
        
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                <td style="border:solid; border-color:#000; border-width:thin" valign="top" width="49%">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                	<thead>
                    	<tr>
                        	<th width="3%"></th><th align="left" width="97%"><u>Special Instruction</u></th>
                        </tr>
                    </thead>
                    <tbody>
                                    </tbody>
                </table>
                </td>
                <td width="2%">
                </td>
                <td valign="top" width="49%">
                   <table class="rpt_table" rules="all" border="1" cellpadding="0" cellspacing="0" width="100%">
                   <tbody><tr align="center">
                    <td colspan="10"><b>Comments</b></td>
                    
                    </tr>
                    <tr align="center">
                    <td>Sl</td>
                    <td>Po NO</td>
                    <td>Ship Date</td>
                    <td>Pre-Cost Qty</td>
                    <td>Mn.Book Qty</td>
                    <td>Sht.Book Qty</td>
                    <td>Smp.Book Qty</td>
                    <td>Tot.Book Qty</td>
                    <td>Balance</td>
                    <td>Comments</td>
                    </tr>
                                        <tr align="center">
                    <td>1</td>
                    <td>2550-07kw17</td>
                     <td>01-12-2015</td>
                    <td align="right">1,072.81</td>
                    <td align="right">1,072.81</td>
                    <td align="right">0.00</td>
                    <td align="right">64.46</td>
                    <td align="right">1,137.26</td>
                    <td align="right">
					-64.46                    </td>
                    <td>
					Over Booking                    </td>
                    </tr>
                                        </tbody><tfoot>
                    
                    <tr>
                    <td colspan="3">Total:</td>
                    
                    <td align="right">1,072.81</td>
                    <td align="right">1,072.81</td>
                    <td align="right">0.00</td>
                    <td align="right">64.46</td>
                     <td align="right">1,137.26</td>
                    <td align="right">-64.46</td>
                    <td></td>
                    </tr>
                    </tfoot>
                    </table>
                </td>
                
            </tr>
        </tbody></table>
                
         <!--<br><br><br><br>-->
         <table width="1330px"><tbody><tr><td colspan="6" height="70" width="100%"></td></tr><tr><td align="center" valign="top" width="221"><strong style="text-decoration:overline">Marchandiser</strong><br></td><td align="center" valign="top" width="221"><strong style="text-decoration:overline">Store In-charge</strong><br></td><td align="center" valign="top" width="221"><strong style="text-decoration:overline">Recieved By (Supplier)</strong><br></td><td align="center" valign="top" width="221"><strong style="text-decoration:overline">GM (Marchandising)</strong><br></td><td align="center" valign="top" width="221"><strong style="text-decoration:overline">For Peak Apparels Ltd</strong><br></td><td align="center" valign="top" width="221"><strong style="text-decoration:overline">Authorised Signature</strong><br></td></tr><tr><td colspan="6" height="70" width="100%"></td></tr><tr></tr></tbody></table>         
       </div>
       